.alumni {
  height: 90vh;
  margin-top: 5rem;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: column;
}
.alumni h1{
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
}
.alumni-container {
  margin: 0 2rem;
  height: 80vh;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  scroll-snap-align: center;
}

.alumni-content {
  height: 80vh;
  flex: 0 0 auto;
  padding: 5rem 0;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
  display: grid;
  place-content: center;
}

.alumni-content img {
  aspect-ratio: 5 / 6;
  object-fit: cover;
  border-radius: 4rem;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
}

.alumni-content:nth-child(odd) img {
  height: 45vh;
  width: 30rem;
}

.alumni-content:nth-child(even) img {
  height: 55vh;
  width: 35rem;
}

/* Ensure the on-scroll class works properly with JavaScript */
.on-scroll .alumni-container img {
  pointer-events: none;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.6s;
  transform: scale(1.08);
}

/* Hide the scrollbar but allow scroll functionality */
/* ::-webkit-scrollbar {
  display: none;
} */
 
.alumni-container::-webkit-scrollbar {
  cursor: pointer;
  width: 2em;
  height: .6em;
}
.alumni-container::-webkit-scrollbar-track{
  background: rgb(131, 131, 131);
  border-radius: .5em;

  
}
.alumni-container::-webkit-scrollbar-thumb{
  width: 2em;
  background: rgb(57, 57, 57);
  border-radius: .5em;
}


.m-in{
  transform: scale(0.8);
  filter: blur(0.5rem) grayscale(0.9);
  pointer-events: none;
}


/* .card-details{
  width: 25rem;
  height: 10rem;
  overlay: hidden;
}
.card-details p{
  overflow-wrap: break-word;
  /* word-break: break-word; */
/* }  */