/* .staff-scroller {
  height: 90vh;
  margin-top: 5rem;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: column;
}
.staff-scroller h1{
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
}
.staff-container {
  margin: 0 2rem;
  height: 80vh;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  scroll-snap-align: center;
}

.staff-content {
  height: 80vh;
  padding: 5rem auto ;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
  display: grid;
  place-content: center;
  background-color: black;
}

.staff-content img {
  aspect-ratio: 5 / 6;
  object-fit: cover;
  border-radius: 4rem;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
  height: 20rem;
  width: 20rem;
}

.on-scroll img {
  pointer-events: none;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.6s;
  transform: scale(1.08);
}

.staff-container::-webkit-scrollbar {
  cursor: pointer;
  width: 2em;
  height: .6em;
}
.staff-container::-webkit-scrollbar-track{
  background: rgb(131, 131, 131);
  border-radius: .5em;

  
}
.staff-container::-webkit-scrollbar-thumb{
  width: 2em;
  background: rgb(57, 57, 57);
  border-radius: .5em;
}


.m-in{
  transform: scale(0.8);
  filter: blur(0.5rem) grayscale(0.9);
} */
.staff *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "poppins";
}
.staff{
  margin:0;
  margin-top: -20rem;
padding: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue ; */

}
.staff-content{
  height: 80%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.staff-content::-webkit-scrollbar {
  cursor: pointer;
  width: 2em;
  height: .6em;
}
.staff-content::-webkit-scrollbar-track{
  background: rgb(131, 131, 131);
  border-radius: .5em;

  
}
.staff-content::-webkit-scrollbar-thumb{
  width: 2em;
  background: rgb(57, 57, 57);
  border-radius: .5em;
}


.staff .card{
  position: relative;
  background: #ffff;
  border-radius: 2rem;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.staff .card::before{
  content: '';
  position: absolute;
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0  0;
  top: 0;
  /* z-index: -1; */
  /* background-color:  #7d2ae8;
  background: linear-gradient(to right, #7d2ae8,  #7D2AE8 ); */
  background: linear-gradient(to right, #7D2AE8, #A14DEC, #C06CFA);

}

.staff .card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3rem;
  position: relative;
  z-index: 10;
  height: 100%;
}

.card-content .img {
  height: 21.5rem;
  width: 21.5rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 1rem ;
  /* background: #7d2ae8; */
  background: linear-gradient(to right, #7D2AE8, #A14DEC, #C06CFA);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content .img img{
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 50%;
  /* border: 3px solid #ffff; */
  border: none;
}
.card-content .img-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content .name{
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 1000;
}
.card-content .university{
  font-size: 2rem;
  margin-top: 1rem;
}
.card-content button{
  margin-top: 1rem;
  text-align: center;
  padding: 2rem 8rem;
  border-radius: 4rem;
  border:none;
  background: linear-gradient(to right, #00d2ff, #3a6bd5);
  color: white;
  font-size: 1.5rem;
}